- if @issue.errors.any?
  .alert.alert-danger.alert-dismissable
    %button.close{'type' => 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'} &times;
    %strong
      = pluralize @issue.errors.count, 'error'
      prohibited this issue from being saved:
    %ul
      - @issue.errors.full_messages.each do |msg|
        %li= msg
