.row
  .col-md-12
    %h1
      = link_to @owner.username, user_profile_path(@owner.username)
      \/
      = link_to @project.name, project_path(@project)
      - unless @project.description.blank?
        %small= @project.description
      - if @project.user_id == current_user.id
        = link_to 'Edit project', edit_project_path, class: 'btn btn-xs btn-default'
